<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!--        리뷰 css-->
        <style>
            @media (min-width: 0) {
                .g-mr-15 {
                    margin-right: 1.07143rem !important;
                }
            }
            @media (min-width: 0){
                .g-mt-3 {
                    margin-top: 0.21429rem !important;
                }
            }

            .g-height-50 {
                height: 50px;
            }

            .g-width-50 {
                width: 50px !important;
            }

            @media (min-width: 0){
                .g-pa-30 {
                    padding: 2.14286rem !important;
                }
            }

            .g-bg-secondary {
                background-color: #fafafa !important;
            }

            .u-shadow-v18 {
                box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
            }

            .g-color-gray-dark-v4 {
                color: #777 !important;
            }

            .g-font-size-12 {
                font-size: 0.85714rem !important;
            }

            .media-comment {
                margin-top:20px
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script>
            $(document).ready(function() {
                let message = "[[${msg}]]";
                if (message === "장바구니에 추가되었습니다.") {
                    document.getElementById("cartCheck").innerText = message;
                }else if (message === "로그인이 필요한 서비스입니다.") {
                    alert(message);
                }
            })
        </script>
    </head>
    <body>
    <nav th:replace="fragments/bodyHeader ::bodyHeader" />
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                                               th:src="${item.content}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1" th:text="|품목: ${item.dtype}|">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder" th:text="${item.name}">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <span th:text="|수량: ${item.stock}|">수량:</span>
                            <h6 th:if="${item.dtype.toString().equals('BOOK')}" th:text="|작가: ${item.author}|">작가</h6>
                            <h6 th:if="${item.dtype.toString().equals('BOOK')}" th:text="|ISBN: ${item.isbn}|">isbn</h6>
                            <h6 th:if="${item.dtype.toString().equals('FOOD')}" th:text="|BRAND: ${item.brand}|">brand</h6>
                            <h6 th:if="${item.dtype.toString().equals('CLOTHES')}" th:text="|BRAND: ${item.brand}|">brand</h6>
                            <h2 class="text-decoration-line-through" th:text="|${#numbers.formatInteger(item.price, 3, 'COMMA')}원|">$45.00</h2>
                        </div>
                        <p class="lead" th:text="${item.outline}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <form method="post">
                        <div class="d-flex">
                            <input class="form-control text-center me-3" name="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button type="submit" class="btn btn-outline-dark flex-shrink-0">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                            <h6 id="cartCheck"></h6>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">다른 상품</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" th:each="otherItem : ${otherItems}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" th:src="${otherItem.image}" style="height: 157.66px" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                 alt="...">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 th:text="${otherItem.name}" class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    <h6 th:text="|${#numbers.formatInteger(otherItem.price, 3, 'COMMA')}원|">price</h6>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a th:href="@{/item/{id} (id=${otherItem.id})}" class="btn btn-outline-dark mt-auto" href="#">보러 가기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--    리뷰페이지-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <div class="container">
        <h2 class="fw-bolder mb-4">상품 후기</h2>
        <div class="row">
            <div class="col-md-8" th:each="review : ${item.reviews}">
                <div class="media g-mb-30 media-comment">
                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                        <div class="g-mb-15">
                            <h5 th:text="${review.title}" class="h5 g-color-gray-dark-v1 mb-0">리뷰 제목</h5>
                            <span th:text="${#temporals.format(review.date, 'yyyy.MM.dd')}" class="g-color-gray-dark-v4 g-font-size-12">리뷰 날짜</span>
                        </div>
                        <p th:text="${review.content}">리뷰 내용</p>
                        <span th:text="|작성자: ${review.member.email}|">작성자</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    리뷰페이지끝-->
        <!-- Footer-->
        <footer th:replace="fragments/footer :: footer"></footer>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>