<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <title>adminpage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/admin/members">관리자 권한 부여</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/admin/item/new">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/admin/items">상품 목록</a>
        </p>
        <p class="lead">쿠폰 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/admin/coupon/new">쿠폰 생성</a>
            <a class="btn btn-lg btn-info" href="/admin/coupons">쿠폰 관리</a>
        </p>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>