<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form method="post">

        <div class="form-group">
            <label th:for="member">대상 회원</label>
            <select th:class="form-control" name="memberId">
                <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.email}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="coupon">대상 쿠폰</label>
            <select th:class="form-control" name="couponId">
                <option th:each="coupon : ${coupons}" th:value="${coupon.id}" th:text="${coupon.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="count">쿠폰 개수</label>
            <input type="number" name="count" class="form-control"
               placeholder="쿠폰 개수을 입력하세요">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        * 쿠폰의 유효기간은 한 달입니다
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>