<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h1>리뷰 작성</h1>
    <hr>
    <form method="post" th:object="${reviewForm}">
        <div class="form-group">
            <label th:for="name">상품명</label>
            <input type="text" th:value="${item.name}" class="form-control" placeholder="이름을 입력하세요" readonly>
        </div>
        <div class="form-group">
            <label>리뷰 제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="리뷰 제목을 입력하세요">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect</p>
        </div>
        <div class="form-group">
            <label>리뷰 내용</label>
            <textarea th:field="*{content}" class="form-control" placeholder="리뷰내용을 입력하세요"></textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect</p>
        </div>
        <button type="submit" class="btn btn-primary">리뷰 수정</button>
        <a th:href="@{/item/{id}/review/remove (id=${orderItemId})}" class="btn btn-danger">리뷰 삭제</a>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>