<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <title>주문 페이지</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/css/payment.css">
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script th:with="totalPrice=${#aggregates.sum(cartItems.![price])}">
    var IMP = window.IMP; // 생략 가능
    IMP.init("imp60187283"); // 예: imp00000000a

    let date = new Date();
    let hours = date.getHours().toString();
    let minutes = date.getMinutes().toString();
    let seconds = date.getSeconds().toString();
    let milliseconds = date.getMilliseconds().toString();
    let merchantUid = hours + minutes + seconds + milliseconds;

    function formCheck() {
      if (document.getElementById("receiverName").value === "" || document.getElementById("receiverPhone").value === "" ||
              document.getElementById("receiverAddress").value === "") {
        alert("필요한 정보를 입력해주세요.")
      } else {
        requestPay();
      }
    }

    function requestPay() {
      IMP.request_pay({
        pg: "html5_inicis.INIpayTest",
        pay_method: "card",
        merchant_uid: merchantUid,   // 주문번호
        name: "[[${cartItems.get(0).item.name}]]" + " 외 " + "[[${cartItems.size() - 1}]]" + "개",
        amount: [[${totalPrice}]],                         // 숫자 타입
        buyer_email: "[[${session.member.email}]]",
        buyer_name: "[[${session.member.name}]]",
        buyer_tel: "[[${session.member.phone}]]",
        buyer_addr: "[[${session.member.address}]]",
        // buyer_postcode: "01181"
      }, function (rsp) { // callback
        if (rsp.success) {
          // console.log(rsp);
          let hiddeninput = document.createElement("input");
          hiddeninput.setAttribute("value", merchantUid);
          hiddeninput.setAttribute("name", "merchantUid");
          let form = document.getElementById("orderData");
          form.append(hiddeninput);
          form.submit();
        } else {
          // console.log(rsp);
          alert("에러 코드:" + rsp.error_code + "," + "에러 메시지:" + rsp.error_msg)
        }
      });
    }
  </script>
</head>
<body>
<nav th:replace="fragments/bodyHeader :: bodyHeader" />
  <main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>주문</h2>
        </div>
        <form th:object="${orderForm}" method="post" id="orderData">
          <div class="products">
            <h3 class="title" th:text="주문목록">Checkout</h3>
            <div class="item" th:each="cartItem : ${cartItems}">
              <span class="price" th:text="|${#numbers.formatInteger(cartItem.price, 3, 'COMMA')}원|">$200</span>
              <p class="item-name" th:text="${cartItem.item.name}">Product 1</p>
              <p class="item-description" th:text="|${cartItem.count}개|">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="total">Total<span class="price" th:text="|${#numbers.formatInteger(#aggregates.sum(cartItems.![price]), 3, 'COMMA')}원|">$320</span></div>
          </div>
          <div class="card-details">
            <h3 class="title" th:text="'주문 상세'">Credit Card Details</h3>
            <div class="row">
              <div class="form-group col-sm-7">
                <label>수령인 이름</label>
                <input th:field="*{receiverName}" type="text" class="form-control"
                       placeholder="수령인 이름" aria-label="Card Holder" aria-describedby="basic-addon1">
                <p th:if="${#fields.hasErrors('receiverName')}"
                   th:errors="*{receiverName}">Incorrect date</p>
              </div>
              <div class="form-group col-sm-5">
                <label>수령인 전화번호</label>
                  <input th:field="*{receiverPhone}" type="text" class="form-control"
                         placeholder="수령인 전화번호" aria-label="MM" aria-describedby="basic-addon1">
                  <p th:if="${#fields.hasErrors('receiverPhone')}"
                     th:errors="*{receiverPhone}">Incorrect date</p>
              </div>
              <div class="form-group col-sm-8">
                <label>주소</label>
                <input th:field="*{receiverAddress}" type="text" class="form-control"
                       placeholder="배송지 주소" aria-label="Card Holder" aria-describedby="basic-addon1">
                <p th:if="${#fields.hasErrors('receiverAddress')}"
                   th:errors="*{receiverAddress}">Incorrect date</p>
              </div>
              <div class="form-group col-sm-4">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                  쿠폰 조회/적용
                </button>
              </div>
              <div class="form-group col-sm-12">
                <button type="button" onclick="formCheck()" class="btn btn-primary btn-block">Proceed</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">쿠폰 목록</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover" id="shopping_table">
          <thead>
          <tr>
            <td class="active">쿠폰 이름</td>
            <td class="active">개수</td>
            <td class="active">품목</td>
            <td class="active">할인율</td>
            <td class="active"></td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="memberCoupon : ${memberCoupons}" th:if="${memberCoupon.count != 0}">
            <td class="active" th:text="${memberCoupon.coupon.name}">name</td>
            <td class="active" th:text="${memberCoupon.count}">2577</td>
            <td class="active" th:text="${memberCoupon.coupon.type}">8.00in x 10.00in</td>
            <td class="active" th:text="|${memberCoupon.coupon.discount}%|"></td>
            <td class="active"> <a th:href="@{/order/coupon/{id} (id=${memberCoupon.id})}" class="btn btn-outline-primary">적용</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      *쿠폰은 한 개만 적용 가능합니다.
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">닫기 <i class="glyphicon glyphicon-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>