<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="bodyHeader">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
<!--                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/member/login">로그인</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="#!">All Products</a></li>-->
<!--                        <li><hr class="dropdown-divider" /></li>-->
<!--                        <li><a class="dropdown-item" href="#!">식품</a></li>-->
<!--                        <li><a class="dropdown-item" href="#!">책</a></li>-->
<!--                        <li><a class="dropdown-item" href="#!">의류</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

            </ul>
            <ul th:if="${session.member}" class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" th:text="|${session.member.name}(${session.member.grade})님 환영합니다|">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:if="${session.member.type.toString().equals('ADMIN')}" th:text="'관리자 페이지'" href="/admin/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:text="'주문 내역'" href="/orderList">주문 내역</a></li>
                <li class="nav-item"><a class="nav-link" th:text="로그아웃" href="/member/logout">Home</a></li>
            </ul>
            <a th:unless="${session.member}" class="nav-link active" aria-current="page" href="/member/login">로그인&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <form class="d-flex" action="/cart">
                <button class="btn btn-outline-dark" type="submit"><i class="bi-cart-fill me-1"></i>Cart</button>
            </form>
        </div>
    </div>
</nav>