<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>smallshop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script>
            $(document).ready(function() {
                let message = "[[${msg}]]";
                if (message != "") {
                    alert(message);
                }else {
                }
            })
        </script>
    </head>
    <body>
    1234
    <nav th:replace="fragments/bodyHeader :: bodyHeader" />
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">전체 상품</h1>
                    <p class="lead fw-normal text-white-50 mb-0">상품 목록</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                    <div th:each="item : ${items}" class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                 th:src="${item.image}" alt="..." style="height: 209.33px"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${item.name}">Fancy Product</h5>
                                    <!-- Product price-->
                                    <h6 th:text="|${#numbers.formatInteger(item.price, 3, 'COMMA')}원|">$40.00 - $80.00</h6>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/item/{id} (id=${item.id})}" href="#">보러 가기</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content: center;">
            <li class="page-item"><a class="page-link" th:href="@{/?page={page} (page=${pagination.prevBlock})}" href="#">이전</a></li>
            <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                <li th:class="${pagination.page == pageButton} ? 'page-item active' : 'page-item'" class="page-item"
                    th:with="start=${pagination.startPage}, end=${pagination.endPage}"
                    th:each="pageButton : ${#numbers.sequence(start, end)}">
                    <a class="page-link" th:href="@{/?page={page} (page=${pageButton})}" th:text="${pageButton}" href="#">1</a>
                </li>
            </th:block>
            <li class="page-item"><a class="page-link" th:href="@{/?page={page} (page=${pagination.nextBlock})}" href="#">다음</a></li>
        </ul>
    </nav>
        <!-- Footer-->
        <footer th:replace="fragments/footer :: footer"></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
